/* ------- CSS RESET -----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ---- HEADERS ---- */

.landing {
    background-size: cover;
    background-color: #ee0000;
    background-repeat: no-repeat;
    background-position: center;
}

.landing img{
    width: 100vw;
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: normal;
    color: black;
    text-align: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background: #FFFEFE;
    color: #333;
    line-height: 2em;
    overflow-x: hidden;
}

/* ---- NAVIGATION ---- */

/* ---- Navigation bar CSS styling ---- */

nav {
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 2em;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 2em;
}

nav {
    background-image: url(../images/goldenarm.png);
    width: 100%;
}


nav {
    position: relative;
    overflow: hidden;
    text-decoration: underline;
}

nav a:link {
    color: #111625;
    text-decoration: none;
}

a {
    color: #111625;
}

nav a:visited {
    color: red;
    text-decoration: none;
}

nav a:hover {
    color: #e21c2b;
    text-decoration: none;
}

/* ---- MARGINS FOR HEADERS, BLOCKQUOTE AND P TAGS ---- */

h1 {
    font-size: 4em;
    margin-top: -0.2em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 0.7em;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
}

blockquote {
    padding: 1em 0 2em 0;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.4em;
    color: darkslategrey;
}

blockquote p {
    hanging-punctuation: first;
    text-indent: -0.3em;
}

/* ---- IMAGES ---- */

img {
    display: block;
    margin: auto;
    height: auto;
    margin: auto;
    max-width: 80%;
    padding-bottom: 1em;
}

/* ---- REFERENCES ---- */

.ref {
    background: black;
    color: white;
    font-size: 1em;
    padding-top: 0.0em;
    padding-bottom: 1em;
    padding-left: 2em
}

.refhead {
    color: white;
}

/* --- FOOTER ---- */

footer {
    margin-top: 1.5em;
}


footer {
    text-align: center;
}

footer hr {
    margin-bottom: 3em;
}

/* ---- SOCIAL ICONS ----- */

.social a img {
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.social a:hover img {
    opacity: 0.8;
}

.social li {
    display: inline-block;
    color: #444;
}

.social li img {
    width: 50px;
}

.social {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    margin: auto;
}

.social img {
    width: 20%;
    align-items: center;
    display: block;
    float: left;
    margin: 1em 1em 1em 0
}

.social ul {
    width: 75%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
