/* ------- CSS RESET -----*/

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/* ---- HEADERS ---- */

.landing {
    background-size: cover;
    background-color: #ee0000;
    background-repeat: no-repeat;
    background-position: center;
}

.landing img{
    width: 100vw;
    height: 100%;
}

h1,
h3 {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 4em; 
    text-align: left;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background: #FFFEFE;
    color: #333;
    line-height: 2em;
    overflow-x: hidden;
}

/* ---- NAVIGATION ---- */

nav {
    text-align: center;
    padding-top: 1.7em;
    letter-spacing: 0.06em;
    margin-bottom: 2em; 
    word-wrap: normal;
    display: inline-block;
}

nav {
    background-color: #000;
    width: 100%;
    height: 3.5em;
}

nav {
    position: relative;
    overflow: hidden;
    text-decoration: underline;
}

nav a:link {
    color: white;
    text-decoration: none;
}

a {
    color: white;
}

nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #e21c2b;
    text-decoration: none;
}
nav ul {
    margin: 2em;
}

/* ---- BACKGROUND IMAGES ---- */

.start {
    background-image: url(../images/goldenarmfirsts.png);
    background-position: top right;
    height: 100%vh;
    width: 100%vw;
}

.experiment {
    background-image: url(../images/stacks.png);
    height: 100%vh;
    width: 100%vw;
}

.kinetic {
    background-image: url(../images/vertigobuildings.png);
    background-position: top right;
    height: 100%vh;
    width: 100%vw;
}

.big {
    background-image: url(../images/madworldglobe.png);
    background-position: top right;
    height: 100%vh;
    width: 100%vw;
}


/* ---- MARGINS FOR HEADERS, BLOCKQUOTE AND P TAGS ---- */

h1 {
    font-size: 4em;
    margin-top: -0.2em;
    margin-bottom: .1em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 0.7em;
    text-transform: uppercase;
}

p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
}

.livedby {
    padding-top: 1em;
}

blockquote {
    padding: 1em 0 2em 0;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.4em;
    color: darkslategrey;
}

blockquote p {
    hanging-punctuation: first;
    text-indent: -0.3em;
}

/* ---- PADDING FOR TEXT ---- */

.start {
    padding-left: 7em;
    padding-right: 7em;
}

.films {
    padding-left: 7em;
    padding-right: 7em;
}

.kinetic {
    padding-left: 7em;
    padding-right: 7em;
}

.experiment {
    padding-left: 7em;
    padding-right: 7em;
}

.logos {
     padding-left: 7em;
    padding-right: 7em;
    padding-top: 2em;
}

.big {
     padding-left: 7em;
    padding-right: 7em;
}

.influence {
     padding-left: 7em;
    padding-right: 7em;
}

#afteriframe {
    padding-top: 2em;
}

/* ---- TEXT CONTRAST ---- */

.secondpara {
    color: #333;
    mix-blend-mode: difference;
}

/* ---- IMAGES ---- */

img {
    display: block;
    margin: auto;
    height: auto;
    margin: auto;
    max-width: 80%;
    padding-bottom: 1em;
}

#posters {
    list-style: none;
    margin: auto;
    text-align: center;
}

#posters li {
    display: inline-block;
    margin: 1em 1em 1em 0;
    height: 25%;
    width: 25%;
}

#ulrika {
    list-style: none;
    margin: auto;
    text-align: center;
}

#ulrika li {
    display: inline-block;
    margin: 1em 0.5em 0.5em 0;
    height: 65%;
    width: 65%;
}

.carmenjones {
    height: 30%;
    width: 30%;
}

.allstate {
   float: left;
   padding-left: 1em;
    padding-right: 1em;
    height: 30%;
    width: 30%;
}

.left {
    float: right;
    padding-left: 2em;
    width: 30%;
    height: 30%;
}

.caption {
    color: lightgray;
    font-size: 90%;
    font-style: italic;
    text-align: center;
    margin-top: -0.2em;
    margin-bottom: 1em;
}

/* ---- IFRAMES ---- */

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---- A HREF ---- */

a.google {
    color: red;
}

.google:hover {
    color: greenyellow;
}

/* ---- REFERENCES ---- */

.ref {
    background: black; 
    color: white;
    font-size: 1em;
    padding-top: -1em;
    padding-bottom: 1.5em;
    padding-left: 2em
}

.refhead {
    color: white;
    padding-top: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ee0000;
}

/* ---- LISTS ---- */

ul.ref {
    padding-left: 2em;
}

ul.experimental {
    padding-left: 2em;
}

ol.points {
    padding-left: 2em;
}
/* --- FOOTER ---- */

footer {
    margin-top: 1.5em;
}


footer {
    text-align: center;
}

footer hr {
    margin-bottom: 3em;
}

/* ---- SOCIAL ICONS ----- */

.social a img {
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.social a:hover img {
    opacity: 0.8;
}

.social li {
    display: inline-block;
    color: #444;
}

.social li img {
    width: 50px;
}

.social {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    margin: auto;
}

.social img {
    width: 20%;
    align-items: center;
    display: block;
    float: left;
    margin: 1em 1em 1em 0
}

.social ul {
    width: 75%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* ---- BACK TO TOP HAND ---- */


#top {
    margin-top: -.5em;
    width: 7%;
}

#backtotop a img {
    -webkit-transition: scale 0.3s ease-in-out;
    transition: scale 0.3s ease-in-out;
}

#backtotop a:hover img {   
    -webkit-transform: scale(1.17);
    transform: scale(1.17);
    
    
    /* ----- MEDIA QUERIES ----- */

/* ------ TABLET ---- */
    
@media (max-width: 50em) {
    
    /* ---- GENERAL ----*/
    
    p {
        width: 80%;
    }
    
    /* ---- SPECIFIC ----- */
    
    header h3 {
        font-size: 3em;
    }


/* ----- MOB ----- */

@media (max-width: 35em) {
    
    /* ---- GENERAL ---- */
    
    body {
        margin: auto 0;
        width: 100%;
        font-size: 115%;
    }
    
    p {
        width: 90%;
    }
    
    header h3 {
        font-size: 3em;
        line-height: 1.3em;
    }
    
    blockquote {
        font-size: 1.2em;
        margin-left: 1em;
    }
        
        /* ---- SPECIFIC ----- */
    
    .social img {
        max-width: 80%;
        margin: 0;
    }
    
    .social ul {
        width: 100%;
    }
